<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icis.backend.dao.IcisDynamicCommentMapper">
  <resultMap id="BaseResultMap" type="com.icis.backend.entity.IcisDynamicComment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dynamic_id" jdbcType="BIGINT" property="dynamicId" />
    <result column="commentor_id" jdbcType="BIGINT" property="commentorId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dynamic_id, commentor_id, content, comment_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from icis_dynamic_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from icis_dynamic_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.icis.backend.entity.IcisDynamicComment">
    insert into icis_dynamic_comment (id, dynamic_id, commentor_id, 
      content, comment_time)
    values (#{id,jdbcType=BIGINT}, #{dynamicId,jdbcType=BIGINT}, #{commentorId,jdbcType=BIGINT}, 
      #{content,jdbcType=VARCHAR}, #{commentTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.icis.backend.entity.IcisDynamicComment">
    insert into icis_dynamic_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dynamicId != null">
        dynamic_id,
      </if>
      <if test="commentorId != null">
        commentor_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="commentTime != null">
        comment_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dynamicId != null">
        #{dynamicId,jdbcType=BIGINT},
      </if>
      <if test="commentorId != null">
        #{commentorId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icis.backend.entity.IcisDynamicComment">
    update icis_dynamic_comment
    <set>
      <if test="dynamicId != null">
        dynamic_id = #{dynamicId,jdbcType=BIGINT},
      </if>
      <if test="commentorId != null">
        commentor_id = #{commentorId,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        comment_time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icis.backend.entity.IcisDynamicComment">
    update icis_dynamic_comment
    set dynamic_id = #{dynamicId,jdbcType=BIGINT},
      commentor_id = #{commentorId,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectDynamicCommentByDynamicId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    SELECT *
    FROM icis_dynamic_comment
    WHERE dynamic_id = #{dynamicId,jdbcType=BIGINT}
  </select>
</mapper>